body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: default;
  color: whitesmoke;
  font-family: 'Helvetica';
  text-shadow: 0 0 1px white;
  font-size: 18px;
  -webkit-user-select: none;
  background-color: whitesmoke;
  will-change: backgrond-color;
  transition: background-color 5s ease-out;
}

#branding {
  width: auto;
  height: 100px;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: -1;
}

span {
  display: block;
  z-index: 12341234;
  position: absolute;
  right: 25px;
  top: -50px;
  transform: translateY(100vh);
  animation-name: move;
  animation-timing-function: ease-out;
  will-change: transform;
  will-change: opacity;
}

@keyframes move {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 0;
  }
}

div#settings {
  position: absolute;
  top: 0;
  left: 0;
  margin: 25px;
  z-index: 5;
  width: 500px;
  height: auto;
  min-height: 200px;
  padding: 25px;
  border-radius: 0;
  display: none;
  box-sizing: border-box;
  background: whitesmoke;
  opacity: 0.75;
}

div#settings form {
  margin: 0;
  padding: 0;
  width: 100%;
}

div#settings .settings-input--image,
div#settings .settings-input--color {
  position: relative;
  display: block;
  height: 50px;
  padding: 25px 0 10px 0;
}
div#settings .settings-input--image label,
div#settings .settings-input--color label {
  position: absolute;
  cursor: pointer;
  top: 25%;
  left: 0;
  color: #777;
  font-size: 24px;
  will-change: font-size;
  transition: all 100ms ease-out;
}
div#settings .settings-input--image input,
div#settings .settings-input--color input {
  width: 100%;
  outline: none;
  font-size: 24px;
  color: #555;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: #999;
  border-radius: 0;
  border-style: solid;
}
div#settings .settings-input--image input:focus,
div#settings .settings-input--color input:focus {
  border-color: #777;
}
div#settings .settings-input--image.active label,
div#settings .settings-input--color.active label,
div#settings .settings-input--image input:focus ~ label,
div#settings .settings-input--image input:valid ~ label,
div#settings .settings-input--color input:focus ~ label,
div#settings .settings-input--color input:valid ~ label {
  font-size: 14px;
  top: 5%;
}

div#settings .btn--save {
  position: absolute;
  z-index: 5;
  bottom: -65px;
  left: 0;
  cursor: pointer;
  outline: none;
  color: #777;
  width: 175px;
  height: 50px;
  font-size: 24px;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  background-color: #efefef;
  transition: opacity 0.25s ease-out;
}
div#settings .btn--save:hover,
div#settings .btn--save:focus {
  color: #333;
  background: #fff;
}
